extends ../layout/main.pug
block vars
	- var title = "Webpack Starter от TakNePoidet";
block content
	section.section.section--home
		.container
			.section__content
				.home-title
					h1 Webpack Starter
					.home-title__author от
						b TakNePoidet

	section.section
		.container
			h3.section__title Описание
			.section__content
				p Простой инструментарий веб-разработки с использованием <b>Webpack</b>. Подходит для создания статических HTML-шаблонов, разработки тем <b>Wordpress</b>, <b>Laravel</b> и frontend проекта.
				figure
					img(src='../../images/webpack.png', alt='')
	section.section
		.container
			h3.section__title Возможности
			.section__content
				ul
					li Современный и продвинутый <b>JavaScript</b>
					li Поддержка фреймворков <b>Vue</b> и <b>React</b>
					li Расширинная типизация с <b>TypeScript</b>
					li Поддержка шаблонизатора <b>Pug</b>
					li Делает код красивее с <b>Stylelint</b>, <b>Prettier</b>, <b>Eslint</b>
