extends ../layout/main.pug
block vars
	- var title = "Webpack Starter от TakNePoidet";
block content
	include ../includes/icon.pug
	section.section.section--home
		.container
			.section__content
				.home-title
					h1 Webpack Starter
					.home-title__author от
						b &nbsp; TakNePoidet

	section.section
		.container
			h3.section__title Описание
			.section__content
				p Простой инструментарий веб-разработки с использованием <mark>Webpack</mark>. Подходит для создания статических HTML-шаблонов, разработки тем <mark>Wordpress</mark>, <mark>Laravel</mark> и frontend проекта.
				figure
					img(src='../../images/webpack.png', alt='')

	section.section.section--oportunities
		.container
			h3.section__title Возможности
			.section__content
				ul
					li
						+icon('tick', 30, 30)
						| Современный и продвинутый <mark>JavaScript</mark>;
					li
						+icon('tick', 30, 30)
						| Поддержка фреймворков <mark>Vue</mark> и <mark>React</mark>;
					li
						+icon('tick', 30, 30)
						| Расширенная типизация с <mark>TypeScript</mark>;
					li
						+icon('tick', 30, 30)
						| Поддержка шаблонизатора <mark>Pug</mark>;
					li
						+icon('tick', 30, 30)
						| Делает код красивее с <mark>Stylelint</mark>, <mark>Prettier</mark>, <mark>Eslint</mark>;
					li
						+icon('tick', 30, 30)
						| Оптимизация всех ресурсов для более быстрой загрузки страницы.

	section.section
		.container
			h3.section__title Старт
			.section__content
				p Клонируйте репозиторий
				pre
					code.language-bash git clone https://github.com/TakNePoidet/webpack-starter.git <имя проекта>

				p перейдите в папку с проектом
				pre
					code.language-bash cd <имя проекта>

				p удалите папку в <code>.git</code>
				pre
					code.language-bash rm -R ./git

				p установите пакеты для разработки
				pre
					code.language-bash yarn # или npm i

				p по желанию справьте данные в
				pre
					code.language-json
						| {
						| &nbsp;&nbsp;&nbsp;&nbsp;"name": "webpack-starter",
						| &nbsp;&nbsp;&nbsp;&nbsp;"version": "1.0.0",
						| &nbsp;&nbsp;&nbsp;&nbsp;"license": "MIT",
						| }
				p Разрабатывайте
				pre
					code.language-javascript await new Coding().go()

	section.section
		.container
			h3.section__title Команды
			.section__content
				#app-vue
