doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Webpack Starter from TakNePoidet
	body
		div(id="page-wrapper")
			section(class="section section--home")
				div(class="container")
					div(class="section__content")
						div(class="home-title")
							h1 Webpack Starter
							div(class="home-title__author") from
								b  TakNePoidet

			section(class="section")
				div(class="container")
					div(class="section__content")
						h3 Описание
						p Стартовый шаблон содержащий оптимальную конфигурацию Webpack для быстрого старта приложения или сайта

			footer
				div(class="container")
					a(href="http://")

